::selection {
    color: white;
    background: rgb(211, 126, 28);
  }
  .navbar{
      display: flex;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      background: hsla(0,0%,100%,.98);
      transition: box-shadow .25s ease 0s;
  }
  
  .menu-4 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
    .menu-4 * {
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    .menu-4 li {
      display: inline-block;
      list-style: outside none none;
      margin: 0 0.5em;
      overflow: hidden;
    }
    .menu-4 a {
      padding: 0.3em 0;
      color: #747474;
      position: relative;
      display: inline-block;
      letter-spacing: 1px;
      margin: 0;
      text-decoration: none;
      font-family: Roboto,Arial,sans-serif;
    }
    .menu-4 a:before,
    .menu-4 a:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    .menu-4 a:before {
      bottom: 100%;
      display: block;
      height: 3px;
      width: 100%;
      content: "";
      background-color: #e67e22;
    }
    .menu-4 a:after {
      padding: 0.3em 0;
      position: absolute;
      bottom: 100%;
      left: 0;
      content: attr(data-hover);
      color: #e67e22;
      white-space: nowrap;
    }
    .menu-4 li:hover a,
    .menu-4 .current a {
      transform: translateY(100%);
    }
  .navbar_logo{
      margin-right: 700px;
      margin-top: -10px;
      width: 2%;
  }
  .WNBA{
      font-weight: 500;
      font-size: 30px;
      text-decoration: none;
      font-family: Roboto,Arial,sans-serif;
      color: #c47f29;
    
  }
  .style-4{    margin-right: 50px;}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #e97407;
	background-color: #e97407;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #c47f29;
	background: -webkit-linear-gradient(to right, #c47f29, #e67e22);
	background: linear-gradient(to right, #c47f29, #e67e22);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.signin{
    margin-top: 60%;
	}


  
  p.question {
	font-family: Arial, sans-serif;
		font-size:20px;
	color: #2E2E2E;
	margin-bottom:0px;
  }
  
  h2.quizHeader {
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-size:25px;
	line-height: 27px;
	margin: 24px 0 12px 0;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #a2a2a2;
  }
  
  h2.quizScore{
	font-family: Arial, sans-serif;
	font-size:25px;
  }
  
  div.quizAnswers{
	font-family: Arial, sans-serif;
	font-size:16px;
	color: #424242;
	padding: 4px 0 4px 0;
  }
  
  label {
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #424242;
	vertical-align:top;
  }
  
  input.answer[type="radio"] {
	margin-bottom: 10px;
  }
  
  input.quizSubmit[type="submit"] {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-property: color, background-color;
	-webkit-transition-timing-function: ease, ease;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
	color: #ffffff;
	background-color: #c47f29;
	margin: 0;
	border: 0;
	outline: 0;
	text-transform:uppercase;
	height:35px;
	width:85px;
	border: 1px solid #5E5E5E;
	border-radius:5px;
	
   }
  
  input.quizSubmit[type="submit"]:hover {
	color: #ffffff;
	background: #c47f29;
	text-decoration: none;
  }
  
  table {
	background-color: #F2F2F2;
		border:1px solid #BDBDBD;
	border-radius:5px;
	padding:10px;
	padding-left:25px;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px;
  }
  
  th {
	
  }
  
  tr {
	
  }
  
  td {
  
  }
  
  .submitter {
		width:85px;
  }
  
  .hide {
		display:none;
  }
.signin{
	margin-top: 100%;
	
}
.quiz{
	margin-top: -105%;

}